@import './../../shared/vars.scss';

.subNav {
  width: 80%;
  margin: 30px auto 0;

  ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "Playfair Display", serif;
  }

  h2 {
    font-weight: 700;
  }

  li {
    margin: 0 10px;
  }

  a {
    text-decoration: none !important;
    color: $mainTextColor !important;

  }

  .active {
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
  }
}

section .subNav {
  margin-top: 10px;
  margin-bottom: 30px;
}