@import './../../shared/vars.scss';

.subNav {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "Playfair Display", serif;

  li {
    margin: 0 10px;
  }

  a {
    font-style: italic;
    text-decoration: none;
    color: $mainTextColor;
  }
}