$mainTextColor: #222;
$bodyFontFamily: Georgia, "Times New Roman", Times, serif;
$headerFontFamily: "Playfair Display", serif;
$fullMaxWidth: 800px;
$maxColWidth: 600px;
$bodyFontSize: 18px;
$footerFontSize: 16px;