@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");
@import './../../shared/vars.scss';

.container {
  max-width: $fullMaxWidth;
  width: 90vw;
  margin: 20px auto;
  color: $mainTextColor;

  h1,
  h2 {
    font-family: $headerFontFamily;
    text-align: center;
    font-weight: 700;
    font-size: 36px;

    a {
      text-decoration: none;
      color: $mainTextColor;
    }
  }

  h2 {
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
  }

  section {
    margin: 50px 0;

    p,
    ul,
    time,
    h2,
    h3,
    footer {
      margin-left: auto;
      margin-right: auto;
      max-width: $maxColWidth;
    }

    a {
      color: #3f51b5;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .columnImage {
      margin: 3em 0;
    }

    .postPromo {
      background: #e8e8e8;
      padding: 15px 20px;
      text-align: center;
      border-radius: 4px;
      a {
        text-decoration: none;
        color: $mainTextColor;
      }
    }
  }

  h3 {
    font-family: $headerFontFamily;
    font-weight: 700;
    font-size: 20px;
  }

  section header {
    font-family: $headerFontFamily;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
  }

  p,
  li {
    font-family: $bodyFontFamily;
    font-size: $bodyFontSize;
  }

  p strong {
    font-weight: 700;
  }

  hr {
    width: 40%;
    height: 1px;
    background-color: #000;
    border: none;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .siteFooter {
    margin-top: 100px;
    font-family: $bodyFontFamily;

    hr {
      margin-top: 0;
      margin-bottom: 2em;
      width: 70%;
    }

    .copyright {
      text-align: center;
      font-style: italic;
    }
  }

  .footerQuote {
    margin-bottom: 2em;
    figcaption,
    blockquote p {
      font-size: $footerFontSize;
      max-width: $maxColWidth - 100px;
      margin-left: auto;
      margin-right: auto;
    }

    figcaption {
      text-align: right;
    }

    blockquote p {
      text-indent: -.3em;
        &:before{
          content: "“";
        }
    }

    figcaption::before {
      content: "—";
    }
  }

  blockquote {
    p {
      padding-left: 30px;
      padding-right: 20px;

      &:first-child {
        text-indent: -.3em;
        &:before{
          content: "“";
        }
      }

      &:last-child:after{
          content: "”";
        }
    }

    & + p {
      padding-right: 20px;
      text-align: right;
    }

    & + p:before {
      content: "—";
    }
  }

}