@import "./../../shared/vars.scss";

.bookList {
  margin: 0;
  padding: 0;
}

.book,
.descriptors,
.filters {
  list-style: none;
}

.descriptors,
.filters {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;

    

    strong,
    a {
      display: block;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.book {
  margin: 1em 0 0;
}

.filters li {
  display: inline-block;
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 3px;
  &::after {
    content: "x";
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  &:hover {
    cursor: pointer;
  }
}

.title {
  font-weight: 700;
}

.category:hover {
  cursor: pointer;
  text-decoration: underline;
}
