@import "./../../shared/vars.scss";

.bookList {
  margin: 0;
  padding: 0;
}

.book,
.descriptors {
  list-style: none;
}

.descriptors {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;

    

    strong,
    a {
      display: block;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.book {
  margin: 1em 0 0;
}

.title {
  font-weight: 700;
}

.category:hover {
  cursor: pointer;
  text-decoration: underline;
}
